@digital:registry=https://pkgs.dev.azure.com/vettadigital/_packaging/vettadigital/npm/registry/
@sms:registry=https://pkgs.dev.azure.com/sms-digital/SMS-digital-Application-Platform/_packaging/sms-plasma/npm/registry/
@sms-mes:registry=https://pkgs.dev.azure.com/sms-digital/SMS-digital-MES/_packaging/sms-mes/npm/registry/
@fortawesome:registry=https://npm.fontawesome.com/
always-auth=true

//pkgs.dev.azure.com/vettadigital/_packaging/vettadigital/npm/registry/:username=VssSessionToken
//pkgs.dev.azure.com/vettadigital/_packaging/vettadigital/npm/registry/:_password=Mnc1N2tnNWFlbGlpc2tqaGlyeGFobG03dHJxN2k0bmtpY3JmcHRnd3V2ZWhhb3Z0ZGg2YQ==
//pkgs.dev.azure.com/vettadigital/_packaging/vettadigital/npm/registry/:email=not-used@example.com

//pkgs.dev.azure.com/sms-digital/SMS-digital-Application-Platform/_packaging/sms-plasma/npm/registry/:username=VssSessionToken
//pkgs.dev.azure.com/sms-digital/SMS-digital-Application-Platform/_packaging/sms-plasma/npm/registry/:_password=MzZweHcyY2YzaHh6NXVkcHpzeHY0d2FqaTJqc3p4bDc1b25ucWFqMnBncXVxaGlkbDczYQ==
//pkgs.dev.azure.com/sms-digital/SMS-digital-Application-Platform/_packaging/sms-plasma/npm/registry/:email=not-used@example.com

//pkgs.dev.azure.com/sms-digital/SMS-digital-MES/_packaging/sms-mes/npm/registry/:username=VssSessionToken
//pkgs.dev.azure.com/sms-digital/SMS-digital-MES/_packaging/sms-mes/npm/registry/:_password=ZDZlampudWN5bnN5cHJvbnU0NGdxemtycGRodm1neXFrbHpvbG1wY3FpMnltdnVyemMzYQ==
//pkgs.dev.azure.com/sms-digital/SMS-digital-MES/_packaging/sms-mes/npm/registry/:email=not-used@example.com

//npm.fontawesome.com/:_authToken=38C0E3E3-90CA-4B00-9A0B-4088B8232FEF