.ant-tooltip-inner {
  background-color: rgb(244, 244, 244) !important;
  color: #000000 !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px !important;
  border-right: 4px solid #0075be !important;
  padding: 8px !important;
}

.ant-tooltip-arrow-content {
  background-color: rgb(244, 244, 244) !important;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px !important;
  width: 8px !important;
  height: 8px !important;
}
